<h1>Edition du club #<%= @club.id%></h1>

<%= form_for(@club) do |c| %>

  <%= c.label :"Article devant le nom si besoin (Ex: La France) " %>
  <%= c.text_field :denominateur, class: 'form-control'%>
  <br>
  <%= c.label :"Nom du club" %>
  <%= c.text_field :name, class: 'form-control'%>
  <br>
  <%= c.label :"Niveau du club" %>
  <%= c.number_field :level, class: 'form-control', :step => 0.5%>
  <br>
  <%= c.label :"Couleur principale du club" %>
  <%= c.text_field :color, class: 'form-control'%>
  <br><br>

  <%= c.label :"Image victorieuse du club" %>
  <%= c.text_field :image_url, class: 'form-control'%>
  <br><br>

  <%= c.submit "Valider", class: "btn btn-primary" %>
<% end %>

<br><br>
<%= link_to "Retour à la liste des clubs", all_clubs_path %>
<br><%= link_to "Accueil", root_path %>
