<h1>Club : <%= @club.denominateur.nil? ? "" :  @club.denominateur %> <%= @club.name %></h1>


Image de référence : <%= @club.image_url %>
<br><br>
<%= image_tag(image_path(@club.image_url), size: "624x416") %>


<br><br>

<% if user_signed_in? %>
  <%= link_to "Modifier", edit_club_path(@club) %>
<% end %>
