<div class="entete_club" style="background-color:<%= @club.color%>">
  <h1><%= @club.denominateur.nil? ? "" :  @club.denominateur %> <%= @club.name %></h1>
</div>

Niveau du club : <%= @club.level %>
<br>
Image de référence : <%= @club.image_url %>
<br><br>
<% if @club.image_url.empty? %>
  Aucune image
<% else %>
  <%= image_tag(image_path(@club.image_url), size: "624x416") %>
<% end %>

<br><br>

<% if user_signed_in? %>
  <%= link_to "Modifier", edit_club_path(@club) %>
  <br>
  <%= link_to "Retour à la liste des clubs", all_clubs_path %>

<% end %>
