<h1>Liste des compétitions réalisées </h1>

<div class="title_w_bg">Compétitions</div>
<br>
<%= link_to "Créer une nouvelle compétition", new_tournament_path %>
<table class="tournament_list">
  <tr>
    <th>Tournoi</th>
    <th>Statut</th>
    <th>Joueurs</th>
    <th>Matchs</th>
    <th>-</th>
  </tr>
  <% @tournaments.each do |tournament| %>
  <br>
  <tr>
    <td><%= link_to tournament.name, tournament_path(tournament) %></td>
    <td><%= tournament.finished ? "Terminé" : "En cours" %></td>
    <td><%= tournament.players.count %></td>
    <td><%= tournament.matches.count %></td>
    <td><%= link_to 'Supprimer', tournament_path(tournament), method: :delete,
            data: { confirm: 'Etes vous sur ?' }%></td>
  </tr>
  <% end %>
</table>
