<h1>Compétition : <%= @tournament.name %></h1>

<div class="title_w_bg">Statut</div>
<br>
<%= @tournament.finished ? "Terminé" : "En cours"%></td>
<% if @tournament.finished? %>
  <%= link_to "Réouvrir", open_tournament_path %>
<% else %>
  <%= link_to "Cloturer", close_tournament_path %>
<% end %>
<br><br>

<div class="title_w_bg">Règles</div>
<br>Points pour une victoire :
<br>Sur 90mn : <%= @tournament.win_regular_points %>
<br>Après prolongations : <%= @tournament.win_prol_points %>
<br>Aux pénalties : <%= @tournament.win_peno_points %>

<br><br>
Points pour une défaite
<br>90mn : <%= @tournament.lose_regular_points %>
<br>Après prolongations : <%= @tournament.lose_prol_points %>
<br>Aux pénaltys : <%= @tournament.lose_peno_points %>

<br><br>Points pour un match nul : <%= @tournament.draw_regular_points %>

<br><br>

<div class="title_w_bg">Matchs</div>
<br>
<table class="scoreboard">

  <tr>
    <th>ID du match</th>
    <th>Joueur 1</th>
    <th>Team 1</th>
    <th>Score</th>
    <th>Team 2</th>
    <th>Joueur 2</th>
  </tr>
  <br>

  <% if !@tournament.matches.empty? %>
    <% @tournament.matches.order('id DESC').each do |match| %>

      <tr>
        <td><%= match.id %></td>
        <td><%= link_to Player.find(match.teams.first.player_id).pseudo, player_path(match.teams.first.player_id) %> </td>
        <td><%= match.teams.first.club.name %> </td>
        <td><div class="tab_score">
              <%= match.teams.first.score %> - <%= match.teams.last.score %>
            </div>
            <span class="tab_score_prol">
            <%= (match.prolongations && !match.teams.first.prol_score) ? "a.p" : "" %>
            <%= match.teams.first.prol_score %><%= match.teams.first.prol_score == nil ? '' : ' tab ' %><%= match.teams.last.prol_score %>
            </span>
        </td>

        <td><%= match.teams.last.club.name %> </td>
        <td><%= link_to Player.find(match.teams.last.player_id).pseudo, player_path(match.teams.last.player_id) %> </td>

        <td><%= link_to "Détails", match_path(match)%></td>
      </tr>
      <% end %>

  <% else %>
    Pas de match pour ce tournoi
  <% end %>

</table>


<br><br>
<%= link_to 'Supprimer', tournament_path(@tournament), method: :delete, data: { confirm: 'Etes vous sur de supprimer cette compétition et tous ses résultats ?' }%>
<br><br>
<%= link_to "Retour à la liste des compétitions", all_tournaments_path %>
