<h1>Administration</h1>

<br>Nombre d'utilisateurs enregistrés : <%=User.count%>
<br>Nombre de joueurs enregistrés : <%=Player.count%>
<br>Nombre de tournois créés : <%=Tournament.count%>
<br>Nombre de matchs créés : <%=Match.count%>
<br>Nombre de commentaires : <%=Comment.count%>
<br>
<br>Nombre de clubs paramétrés : <%=Club.count%>
<br>
<br>
<br>Liste des utilisateurs enregistrés :
<br><% User.all.each { |user| %>
<%= user.username %>, <%= user.admin %>
<br>
<% } %>
<br>
<br>Verifications Mise à jour vers version 2.0: OK
<br>
<br>Commencer par créer un tournoi
<br><%= link_to "MAJ Matchs => Ajout tournoi", root_path%>
<br><%= link_to "MAJ Teams => Ajout season_id", root_path%>
<br><%= link_to "MAJ Seasons => Ajout player stats", root_path%>
<br>
<br>A faire en 2e étape, retrait des colonnes inutilisées sur Player.
<br>

<br>MAJ 03-04/2019 : Ajout mode normal pour matchs sans mode (2018) et MAJ Format des tournois deja crees
<br><%= link_to "MAJ Matchs sans mode", admin_maj_mode_path%>
<br><%= link_to "MAJ Tournois sans format", admin_maj_tournament_format_path%>
<br><%= link_to "MAJ Equipes sans status", admin_maj_teams_status_path%>
