<h1>Home#index</h1>

<%= link_to "Nouveau match", new_match_path %>
<br>
<%= link_to "Nouveau Joueur", new_player_path %>

<p> Liste des matchs créés </p>


<table>
  <tr>
    <th>ID du match</th>
    <th>Joueur 1</th>
    <th>Team 1</th>
    <th>Score t1</th>
    <th>Score penalties1</th>
    <th>Score penalties2</th>
    <th>Score t2</th>
    <th>Team 2</th>
    <th>Joueur 2</th>
    <th>Prolongations</th>
  </tr>
  <br>
  <% if @matches.count == 0 %>
    <tr> <td> Pas de match enregistré </td> </tr>
  <% else %>
    <% @matches.each do |match| %>
      <% if match.teams.empty? %>
      <tr>
        <td><%= match.id %></td>
        <td>....</td>
        <td><%= link_to 'Supprimer', match_path(match), method: :delete,
                data: { confirm: 'Etes vous sur ?' }%></td>

      </tr>
      <% else %>
      <tr>
        <td><%= match.id %></td>
        <td><%= link_to Player.find(match.teams.first.player_id).pseudo, player_path(match.teams.first.player_id) %> </td>
        <td><%= match.teams.first.name %> </td>
        <td><%= match.teams.first.score %></td>
        <td><%= match.teams.first.prol_score %></td>
        <td><%= match.teams.last.prol_score %></td>
        <td><%= match.teams.last.score %></td>
        <td><%= match.teams.last.name %> </td>
        <td><%= link_to Player.find(match.teams.last.player_id).pseudo, player_path(match.teams.last.player_id) %> </td>

        <td><%= match.prolongations ? "a.p" : "" %>
        <td><%= link_to "Détails", match_path(match)%></td>
        <td><%= link_to "Modifier", edit_match_path(match)%></td>
        <td><%= link_to 'Supprimer', match_path(match), method: :delete,
                data: { confirm: 'Etes vous sur ?' }%></td>
      </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<br>

<p> Liste des joueurs </p>

<table>
  <tr>
    <th>ID du joueur</th>
    <th>Pseudo</th>
    <th>Matchs joués</th>
    <th>Points</th>
  </tr>
  <br>

  <% @players.each do |player| %>
  <tr>
    <td><%= player.id %></td>
    <td><%= player.pseudo %></td>
    <td><%= player.teams.count %> </td>
    <td><%= player.points %> </td>
  </tr>
  <% end %>


</table>
