<h1>Profil du joueur : <%= @player.pseudo %></h1>

<div class="title_w_bg">Statistiques </div>
<br>
<table class="leaderboard">
  <tr>
    <th> </th>
    <th> </th>
    <th>Pts</th>
    <th>J.</th>
    <th>G.</th>
    <th>G.pr</th>
    <th>G.pn.</th>
    <th>D.</th>
    <th>D.pr</th>
    <th>D.pn.</th>
    <th>Diff.</th>
    <th>bp.</th>
    <th class="lb_br">bc.</th>
  </tr>
  <br>

  <tr>
    <td></td>
    <td class="lead_team"><%= @player.pseudo %></td>
    <td><b><%= @player.points %></b></td>
    <td class="lb_br"><%= @player.teams.count %> </td>
    <td><%= @player.win %> </td>
    <td><%= @player.win_prol %> </td>
    <td class="lb_br"><%= @player.win_peno %> </td>
    <td><%= @player.lose %> </td>
    <td><%= @player.lose_prol %> </td>
    <td class="lb_br"><%= @player.lose_peno %> </td>
    <td><%= (Team.all.where("player_id= '#{@player.id}'").sum(:score))-((Team.where("player_id= '#{@player.id}'").collect{|a| a.match.teams.collect{|b| b.score}.sum }.sum)-(Team.all.where("player_id= '#{@player.id}'").sum(:score))) %>
    <td><%= Team.all.where("player_id= '#{@player.id}'").sum(:score) %></td>
    <td class="lb_br"><%= (Team.where("player_id= '#{@player.id}'").collect{|a| a.match.teams.collect{|b| b.score}.sum }.sum)-(Team.all.where("player_id= '#{@player.id}'").sum(:score)) %></td>
  </tr>

  <tr>
    <td colspan = 4></td>
    <td colspan = 3><%= @player.win + @player.win_prol + @player.win_peno %> Victoires </td>
    <td colspan = 3><%= @player.lose + @player.lose_prol + @player.lose_peno %> Défaites </td>
    <td colspan = 3></td>

  </tr>
</table>


<div class="title_w_bg">Matchs </div>

<br>
<table class="scoreboard">
  <tr>
    <th>ID du match</th>
    <th>Joueur 1</th>
    <th>Team 1</th>
    <th>Score</th>
    <th>Team 2</th>
    <th>Joueur 2</th>
    <th>Résultat</th>
  </tr>
  <br>
  <% Match.includes(:players).where("players.id = ?", @player.id).references(:players).each { |match| %>

    <% if match.teams.empty? %>
    <tr>
      <td><%= match.id %></td>
      <td>Pas de match enegistré...</td>
    </tr>
    <% else %>
    <tr>
      <td><%= match.id %></td>
      <td><%= link_to Player.find(match.teams.first.player_id).pseudo, player_path(match.teams.first.player_id) %> </td>
      <% if match.teams.first.status == "winner" %>
        <td class="statuswinner"><%= match.teams.first.club.name %></td>
        <% else %>
        <td><%= match.teams.first.club.name %></td>
      <% end %>
      <td><div class="tab_score">
            <%= match.teams.first.score %> - <%= match.teams.last.score %>
          </div>
          <span class="tab_score_prol">
          <%= (match.prolongations && !match.teams.first.prol_score) ? "a.p" : "" %>
          <%= match.teams.first.prol_score %><%= match.teams.first.prol_score == nil ? '' : ' tab ' %><%= match.teams.last.prol_score %>
          </span>
      </td>

      <% if match.teams.last.status == "winner" %>
        <td class="statuswinner"><%= match.teams.last.club.name %></td>
        <% else %>
        <td><%= match.teams.last.club.name %></td>
      <% end %>
      <td><%= link_to Player.find(match.teams.last.player_id).pseudo, player_path(match.teams.last.player_id) %> </td>
<!-- Heroku bloquant
      <td><% if match.teams.where("status='winner'").first.player == @player %>
              Victoire
          <% else %>
              Défaite
          <% end %>
      </td>
-->
    </tr>
  <% end %>
  <% } %>

</table>

<br><br>
<%= link_to "Accueil", root_path %>
