<h1>Matches#show</h1>

<p>
<% if !@match.teams.first.player_id.nil? %>
  Joueur 1: <%= @home_team.player.pseudo %>
<% end %>
<br>Equipe 1: <%= @home_team.name %>
<br>Score : <%= @home_team.score %>
<br>
<% if @match.prolongations? %>
  Score penalties : <%= @home_team.prol_score %>
<% end %>
</p>
<br>
<p>
<% if !@match.teams.last.player_id.nil? %>
  Joueur 2: <%= @visiting_team.player.pseudo %>
<% end %>
<br>Equipe 2: <%= @visiting_team.name %>
<br>Score : <%= @visiting_team.score %>
<br>
<% if @match.prolongations? %>
  Score penalties : <%= @visiting_team.prol_score %>
<% end %>
</p>
<br>




<p> <a href="/">Retourner à l'accueil</a> </p>
