<div class="match_entete">
  <h1><%= @match.id%>e journée</h1>
</div>
<div class="match_entete_teams">
  <div class="match_entete_team_one" style="background-color:<%= @home_team.club.color.nil? ? "black" : @home_team.club.color %>">
    <%= @home_team.club.name %>
  </div>

  <div class="match_entete_team_two" style="background-color:<%= @visiting_team.club.color.nil? ? "black" : @visiting_team.club.color %>">
    <%= @visiting_team.club.name %>
  </div>
</div>
<% if !@match.image_une_url.nil? %>
  <div class="match_entete_bas">
    <%= @match.created_at.strftime("%A %d %B %Y") %>
    <br><%= image_tag(image_path(@match.image_une_url), size: "624x416")%>
  </div>
<% end%>

<p>
<% if !@match.teams.first.player_id.nil? %>
  Joueur 1: <%= @home_team.player.pseudo %>
<% end %>
<br>Equipe 1: <%= @home_team.club.name %>
<br>Score : <%= @home_team.score %><% @match.prolongations ? "après prolongations" : "" %>
<br>
<% if @match.prolongations? %>
  Score penalties : <%= @home_team.prol_score %>
<% end %>
</p>
<p>
<% if !@match.teams.last.player_id.nil? %>
  Joueur 2: <%= @visiting_team.player.pseudo %>
<% end %>
<br>Equipe 2: <%= @visiting_team.club.name %>
<br>Score : <%= @visiting_team.score %><% @match.prolongations ? "après prolongations" : "" %>
<br>
<% if @match.prolongations? %>
  Score penalties : <%= @visiting_team.prol_score %>
<% end %>

</p>
<br>




<p> <a href="/">Retourner à l'accueil</a> </p>
