<div class="match_entete">
  <h1><%= @match.tournament.name%> - <%= @match.tournament.matches.count%>e journée</h1>
</div>
<div class="match_entete_teams">
  <div class="match_entete_team_one" style="background-color:<%= @home_team.club.color.nil? ? "black" : @home_team.club.color %>">
    <%= @home_team.club.name %>
  </div>

  <div class="match_entete_team_two" style="background-color:<%= @visiting_team.club.color.nil? ? "black" : @visiting_team.club.color %>">
    <%= @visiting_team.club.name %>
  </div>
</div>
<div class="match_entete_bas">
  <span class="match_entete_bas_g"><%= @match.mode.nil? ? "" : "Mode : " + @match.mode %></span>
  <span><%= @match.created_at.strftime("%A %d %B %Y") %></span>
  <span class="match_entete_bas_d"></span>
</div>

<!-- Début bloc image et score -->
<% if !@match.image_une_url.nil? %>
  <div class="match_picture" style="background-image: url( <%= @match.image_une_url%>)">
  <% else %>
  <div class="match_picture" style="background-image: url( <%= image_path('clubs/noclub.jpg') %>)">
<% end %>
    <div class="match_tab_player"><%= @home_team.player.pseudo %></div>
    <div class="tab_score match_tab_score">
          <%= @home_team.score %> - <%= @visiting_team.score %>
          <br>
          <span class="tab_score_prol">
            <%= (@match.prolongations && !@match.teams.first.prol_score) ? "a.p" : "" %>
            <%= @home_team.prol_score %><%= @home_team.prol_score == nil ? '' : ' tab ' %><%= @visiting_team.prol_score %>
          </span>
    </div>
    <div class="match_tab_player"><%= @visiting_team.player.pseudo %></div>
  </div>
<!-- Fin bloc image et score -->
<br><%= link_to "Voir les résultats de cette compétition", tournament_path(@match.tournament) %>
<br>
<br><%= link_to "Retour à la liste des Matchs", all_matches_path %>
