<header class="navbar">
    <div id="site_title"><%= link_to "La compète", root_path %>
    </div>
    <nav>
      <ul class="main-menu"><!-- Menu principal normal -->
        <div>
          <li><%= link_to content_tag(:i, nil, class: 'fas fa-home'), root_path %></li>
          <li id="site_title_fixed"><%= link_to "La compète", root_path %></li>
          <li><%= link_to "Liste des Matchs", all_matches_path %> </li>
          <li><%= link_to "Classement", leaderboard_path %> </li>
        </div>
        <div>
        <li class="divider"></li>
        <li><%= link_to "Nouveau match", new_match_path %> </li>
        <% if user_signed_in? %>
          <li class="dropdown">Paramètres

            <ul class="dropdown-menu">
              <li><%= link_to "Nouveau joueur", new_player_path %> </li>
              <li><%= link_to "Nouveau club", new_club_path %> </li>
              <li><%= link_to "Liste des clubs", all_clubs_path %> </li>
              <li><%= link_to "Modifier mon compte", edit_user_registration_path %>
              </li>
              <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete  %>
              </li>
            </ul>
          </li>
        </div>
        <% else%>
            <li><%= link_to content_tag(:i, nil, class: 'far fa-user'), new_user_session_path %>
            </li>
        <% end %>


      </ul>
      <div class="menu-symbol">
        <i class="fas fa-bars"></i>
      </div>
      <ul class="mobile-menu" style="display:none;"><!-- Menu mobile -->
        <li><%= link_to "Accueil", '/' %></li>
        <li><%= link_to "Liste des Matchs", all_matches_path %> </li>
        <li><%= link_to "Classement", leaderboard_path %> </li>
        <li class="divider"></li>
        <li><%= link_to "Nouveau match", new_match_path %> </li>
        <% if user_signed_in? %>
          <li class="dropdown">Paramètres
              <li><%= link_to "Nouveau joueur", new_player_path %> </li>
              <li><%= link_to "Nouveau club", new_club_path %> </li>
              <li><%= link_to "Liste des clubs", all_clubs_path %> </li>
              <li><%= link_to "Modifier mon compte", edit_user_registration_path %>
              </li>
              <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete  %>
              </li>
          </li>

        <% else%>
            <li><%= link_to "Se connecter", new_user_session_path %>
            </li>
        <% end %>
      </ul> <!-- FIN Menu mobile -->
    </nav>
</header>
