<header class="navbar">
  <div class="container">
    <div class="site_title">Matchs entre potes
    </div>
    <nav>
      <ul class="">
        <li><%= link_to "Accueil", '/' %></li>
        <li><%= link_to "Liste des Matchs", all_matches_path %> </li>
        <li><%= link_to "Classement", leaderboard_path %> </li>
        <li class="divider"></li>
        <li><%= link_to "Nouveau match", new_match_path %> </li>
        <% if user_signed_in? %>
            <li><%= link_to "Nouveau joueur", new_player_path %> </li>
            <li><%= link_to "Nouveau club", new_club_path %> </li>
            <li><%= link_to "Modifier mon compte", edit_user_registration_path %>
            </li>
            <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete  %>
            </li>
        <% else%>
            <li><%= link_to "Se connecter", new_user_session_path %>
            </li>
        <% end %>


      </ul>
    </nav>
  </div>
</header>
